<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NestJS with EJS and Bootstrap</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/stellar-wallet/layout.css" />
    <% for (let i = 0; i < cssList.length; i++) { %>
      <%- cssList[i] %>
    <% } %>
    <script src="/public/js/sweetalert.min.js"></script>
    <script src="/public/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/stellar-wallet/layout.js"></script>
  </head>
  <body>
    <div
      class="d-flex w-100 h-100 justify-content-center align-items-center"
    >
      <div class="position-relative">
        <div id="loading-modal" class="justify-content-center align-items-center class-modal hide">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

        <div id="setting-modal" class="justify-content-start align-items-start class-modal hide">
          <div class="d-flex flex-column w-100">
            <div class="d-flex flex-row w-100 justify-content-between align-items-end mb-3">
              <div class="fs-1 text-center">Setting</div>
              <div class="d-flex">
                <button type="button" class="btn btn-outline-secondary" onclick="StellarLayout.hideSetting()">X</button>
              </div>
            </div>
            <div class="d-flex flex-column mb-3">
              <label for="setting-network" class="form-label">Network</label>
              <div class="input-group mb-3">
                <select id="setting-network" class="form-select" aria-label="Default select example">
                  <option value="testnet" selected>testnet</option>
                </select>
              </div>
            </div>

            <div class="d-flex">
              <button type="button" class="btn btn-outline-danger" onclick="StellarLayout.logout()">Logout</button>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column layout-container">
          <%- body %>
        </div>
      </div>
    </div>
  </body>
  <% for (let i = 0; i < scriptList.length; i++) { %>
    <%- scriptList[i] %>
  <% } %>
</html>
