:root {
  --container-width: 400px;
  --container-bg-color: white;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.layout-container {
  display: flex;
  position: relative;
  width: var(--container-width);
}

.class-modal {
  display: flex;
  position: absolute;
  background-color: var(--container-bg-color);
  width: calc(var(--container-width) + 12px);
  top: 0;
  left: -6px;
  height: 100%;
  min-height: 100vh;
  z-index: 99;
}

.hide {
  display: none;
}
